.Navbar {
  display: flex;
  background-color: rgb(198, 229, 236);
  height: 50px;
  margin-bottom: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  box-shadow: 1px 1px 1px black;
}

.main {
  font-weight: 600;
  font-size: 23px;
  font-family: "Andika", sans-serif;
}
