p {
  margin: 0;
}

.play {
  position: relative;
}

#canvas {
  position: absolute;
  background-color: rgb(230, 111, 20);
  box-shadow: 2px 2px 2px;
}

.content {
  box-shadow: 2px 2px 2px;
}
